.chat-contents
  .chat-message-user
    .chat-message-user__user-name
      = message.user.name
    .chat-message-user__day
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-message-user-message
    - if message.content.present?
      %P.chat-message-user-message__content
        = message.content
    = image_tag message.image.url, class:'chat-message__image' if message.image.present? 