.side-bar
  .side-user
    .side-infomation
      .side-name
      name
      .side-icon
        = link_to "#" ,class: "side-icon__btn side-icon__btn--edit" do
          = icon('far','fa-edit')
          <i class='far fa-edit'></i>
          %span<>
        = link_to "#",class: "side-icon__btn" do
          = icon('fas','fa-cog')
          <i class="fas fa-cog"></i>
          %span<>
  .side-groupes
    .side-group
      .group-name
        tecchamp
      .group-message
        まだメッセージはありません。

