.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;

  .side-user{
    background-color: #253141;
    color:$white_color;
    height: $main_px;
    display: flex;
    align-items: center;
    .side-infomation{
      height: 20px;
      margin: 0 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
    }
      .side-name {
        position: absolute;
        left: 0px;
      }
      .side-icon {
        &__btn {
          color:$white_color;
          text-align: right;
          text-decoration:none;
          &--edit {
            margin-right: 5px;
          }
          }
        }
      }
  }
  .side-groupes{
    background-color: #2f3e51;
    height: calc(100vh - 
    );
    .side-group{
      margin: 0 20px;
      padding: 20px 0px 40px;
      .group-name {
        font-size: 15px;
        color:$white_color;
      }
      .group-message {
        color:$white_color;
        font-size: 11px;
        margin-top: 5px;
      }

    }
  }

